@import "tailwindcss";
@tailwind utilities;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer components {
	.underline-animation {
		@apply relative;
	}

	.underline-animation::after {
		@apply absolute content-[''] w-full h-1 left-0 bottom-[-4px] bg-gray-500 scale-x-0 origin-bottom-right transition-transform duration-300;
	}

	.underline-animation:hover::after {
		@apply scale-x-100 origin-bottom-left;
	}
}
